[Unit]
Description=Cluster Statistics Daemon
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/php -d disable_functions= -f /usr/share/clusterstat-daemon/clusterstatd.php -- start
ExecReload=/usr/bin/php -d disable_functions= -f /usr/share/clusterstat-daemon/clusterstatd.php -- reload
ExecStop=/usr/bin/php -d disable_functions= -f /usr/share/clusterstat-daemon/clusterstatd.php -- stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
