-----BEGIN CERTIFICATE-----
MIIDKDCCApGgAwIBAgIBADANBgkqhkiG9w0BAQQFADCBsDELMAkGA1UEBhMCQkUx
EDAOBgNVBAgMB0FudHdlcnAxDjAMBgNVBAcMBVJldGllMR4wHAYDVQQKDBVKZXJv
ZW4gVmVybWV1bGVuIEJWQkExIDAeBgNVBAsMF0FwcGxpY2F0aW9uIERldmVsb3Bt
ZW50MRUwEwYDVQQDDAxDbHVzdGVyU3RhdHMxJjAkBgkqhkiG9w0BCQEWF2luZm9A
amVyb2VudmVybWV1bGVuLmV1MB4XDTEzMTEzMDAxMzE0OFoXDTM4MTEyNDAxMzE0
OFowgbAxCzAJBgNVBAYTAkJFMRAwDgYDVQQIDAdBbnR3ZXJwMQ4wDAYDVQQHDAVS
ZXRpZTEeMBwGA1UECgwVSmVyb2VuIFZlcm1ldWxlbiBCVkJBMSAwHgYDVQQLDBdB
cHBsaWNhdGlvbiBEZXZlbG9wbWVudDEVMBMGA1UEAwwMQ2x1c3RlclN0YXRzMSYw
JAYJKoZIhvcNAQkBFhdpbmZvQGplcm9lbnZlcm1ldWxlbi5ldTCBnzANBgkqhkiG
9w0BAQEFAAOBjQAwgYkCgYEAmcgQ7f4kx7SH4gc4px0XHxIclpIViu34GCa9fAul
5fbhEtwcvmM3z6jilOsIyYWmtYOmdZ3Y+oxTdDLYC33Lhn1RCrG2iM7MWNg9HBWg
2eXQRhYeLSJye/vowfJoOcnuJoZzr/X+3iM51pKC3IgdAxkood695l7D4eWycPUu
zIcCAwEAAaNQME4wHQYDVR0OBBYEFEH3E2kV1Y0UQlwYqo0BJv80YVqXMB8GA1Ud
IwQYMBaAFEH3E2kV1Y0UQlwYqo0BJv80YVqXMAwGA1UdEwQFMAMBAf8wDQYJKoZI
hvcNAQEEBQADgYEAXYlxO9dDpyiuCiVG+i2o9mxsfUb9vBl/PBXXEbC8qR7ofHjY
Vs1HD1ah5R3cf9BNXQkhLhtbng5qfH0RHX+EtvCbBPNjc6DMS3j3U4PGNIli6xo+
H78HEvj1y1k3X70o5O6G0OyZh43ma608JXade00lUQ5p572WFGutdq9sQyQ=
-----END CERTIFICATE-----
-----BEGIN ENCRYPTED PRIVATE KEY-----
MIICxjBABgkqhkiG9w0BBQ0wMzAbBgkqhkiG9w0BBQwwDgQILAXsvv2JYnQCAggA
MBQGCCqGSIb3DQMHBAjusEovWUqB9QSCAoCnYfMs5sYVdC/A6pVZq8gDbhMrSPeB
rfbQnNJVkQ8V61BDggi3ZQPKbBfhv2ef98/cuKcm2TuBTtSHiMqz4iOBOm92tgMM
CrqKecNtmvzZ0UmG+TGTjrGdI8ZpxXB5yO3s1Le7Ya3BzWrm1/wFPKw1CQ/p81Zx
KD6VDSM6C3rea8zF4TdQPXofUtn6RwoY7iSWdjRfidVwyEzZJuUKGI3Gti5jGmV2
6nRWAbMNor4hae/k/jCeeDl5wkffcxmnY5HqlQ3wqr0/3zEemv8OKG5faSaRl579
qsVSD+lf8312cpyKD6TBiJx0Q4C1/i8+mArkGg2Mz0El/dcO8P7ukvLHvTM2ajPa
oghDL+aE4DYgflp1wwp4hU4nY1SKphfpR+jtymVWNkLP25ojjrv5SHVWvd1RPA1W
AnzLm0NbSjp1ifvbfnRZgAb3LAm+UwyWO+VBO39XIjGdNnMo1XHgf5M9tkFzPZrQ
/ppc5ZzeNrJ5niSJGida6GDtzAcd+F9oZvW0QVlZYXCywfXVhzdM/Y71wB3lNnLK
Mh9zKCjfnTa8jTqKtXrobCd54SpEkhE1hP4XsBRtSUSOwFfdwmrUldjkh0s6sCLT
A2fx5Hg0E+X96jL+zcPyyqnJ8Qgam9iP55l0QH6TrTTqLkKz5+t2z5F4zA4M8hj4
Gvs9qsoPNFm4XBQannZSf7THuW/SubnW20j9Mz3vcSmuQySd3B0tIrEPOWOLqoa8
kOsEapxnnGASPQWnKOBAW3r1fre3C88HuJVnUjGPeS+OJymOr+1vErvXpWk/VQAK
LRhOU03uCL6ueJzSoLcx+PZIKnp+pIdKMKiOX/MqlCCdMu9dXTwGvLaZ
-----END ENCRYPTED PRIVATE KEY-----
